<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
</head>
<body>

    <h1>log In</h1>

      {% for message in messages %}
        <h5>{{ message }}</h5>
      {% endfor %}

    <form method="POST">
      {% csrf_token %}
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>

      <button type="submit">Login</button>
      <p> Don't have an account? <a href="/student/signUp">Sign Up</a> </p>
    </form>

</body>
</html>
