<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
</head>
<body>

    <h1>Sign Up</h1>
    <div>Create your account</div>

      {% for message in messages %}
        <h5>{{ message }}</h5>
      {% endfor %}

    <form method="POST">
      {% csrf_token %}

      <label for="username">Username</label>
      <input type="text" id="username" name="username" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="pass">Password</label>
      <input type="password" id="pass" name="pass" required>

      <label for="repeat_pass">Repeat Password</label>
      <input type="password" id="repeat_pass" name="repeat_pass" required>

      <button type="submit">Register</button>
      <p> Already have an account? <a href="/student/logIn">logIn</a> </p>
    </form>

</body>
</html>
