<!DOCTYPE html>
<html>
<head>
    <title>Student Registration</title>
</head>
<body>

    <h2>Student Registration Form</h2>

    <form method="POST">
        {% csrf_token %}

        <label>Student ID:</label><br>
        <input type="number" name="student_id" required><br><br>

        <label>Full Name:</label><br>
        <input type="text" name="student_fullname" required><br><br>

        <label>Contact Number:</label><br>
        <input type="text" name="student_contact" required><br><br>

        <label>Email:</label><br>
        <input type="email" name="student_email" required><br><br>

        <label>Course:</label><br>
        <select name="student_course">
            <option value="BSCS">BSCS</option>
            <option value="BSAB">BSAB</option>
            <option value="BSIT">BSIT</option>
        </select>
        <br><br>

        <label>Year Level:</label><br>
        <input type="number" name="student_grade" required><br><br>

        <button type="submit">Submit</button>
    </form>

</body>
</html>
