<h2>Welcome, {{ request.user.username }}</h2>
<a href="{% url 'student_settings' %}">Settings</a>

<h3>Your Scholarship Applications</h3>

{% if applications %}
    <ul>
    {% for app in applications %}
        <li>
            GPA: {{ app.gpa }} |
            Status: {{ app.status }} |
            Submitted At: {{ app.submitted_at }} |
            Document: <a href="{{ app.document.url }}" target="_blank">View</a>
        </li>
    {% endfor %}
    </ul>

    {% if has_approved %}
    <a href="{% url 'apply_renewal' %}">Apply for Renewal</a>
    {% endif %}


{% else %}
    <p>You have not submitted any applications yet.</p>
    <a href="{% url 'apply_scholarship' %}">Apply for Scholarship</a>
{% endif %}

<hr>

<h3>Your Scholarship Renewals</h3>

{% if renewals %}
    <ul>
    {% for r in renewals %}
        <li>
            Semester: {{ r.semester }} |
            GPA: {{ r.gpa }} |
            Status: {{ r.status }} |
            Submitted At: {{ r.submitted_at }} |
            Document: <a href="{{ r.document.url }}" target="_blank">View</a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You have not submitted any renewals yet.</p>
{% endif %}

